<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Configuration</title>
</head>
<body>
<form action="/allocate" method="post">
    <ul id="club-list">
        <li>
            <span class="name">Name</span>
            <span class="day">Day</span>
            <span class="teacher">Teacher</span>
            <span class="size">1</span>
            <span class="type">Type</span>
            <a class="update" href="/update-club" >Update</a>
        </li>
    </ul>
    <input type="submit" />
</form>
</body>
</html>