<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Club</title>
</head>
<body>
    <h2>Club Name</h2>
    <h4><span class="teacher">Teacher</span> <span class="day">Day</span></h4>
    <form method="post" >
        <select class="size" name="size" >
            <option>5</option>
            <option>10</option>
            <option>12</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
        </select>
        <select class="type" name="type" >
            <option value="repeated">Repeated</option>
            <option value="repeatable">Repeatable</option>
            <option value="once">Once only</option>
        </select>
        <input type="submit" />
    </form>
</body>
</html>